@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Gowun+Dodum&display=swap");

body, html {
  padding: 0;
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
  background-color: #223651;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Gowun Dodum", sans-serif;
}

.navbar {
  background: #131e2d;
}

.nav-link,
.navbar-brand {
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover,
.navbar-brand:hover {
  background: #cbb26a;
  color: #131e2d;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: white !important;
}

/* Header Section */
.header {
  position: relative;
  background-image: url("../images/84530735.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0);
}

.description {
  position: absolute;
  top: 79%;
  margin: auto;
  padding: 2em;
}

.description h1 {
  color: #cbb26a;
}

.description p {
  color: #be9e44;
  font-size: 18px;
  width: 60%;
  line-height: 1.5;
}

.description button {
  border: 1px solid #131e2d;
  background: #131e2d;
  color: #be9e44;
}

/* About Section */
.about {
  margin: 0;
  padding: 6em 1em;
  position: relative;
  background: #fabb00;
  height: 100vh;
}

.about h1 {
  color: #131e2d;
  margin: 2em;
}

.about img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.about .desc {
  padding: 2em;
  border-left: 4px solid #223651;
}

.about .desc h3 {
  color: #131e2d;
}

.about .desc p {
  line-height: 2;
  color: #223651;
}

/* Portfolio */
.portfolio {
  margin: 0;
  padding: 6em 1em;
  position: relative;
  background: linear-gradient(to right, #000428 0%, #004e92 100%);
  width: 100%;
}

.portfolio h1, .portfolio h2, .contact h1, .contact h2, footer, footer p, .blog p {
  color: white;
  margin: 2em;
  mix-blend-mode: difference;
}

.portfolio img {
  height: auto;
  width: 100%;
  margin: 1em;
}

/* Blog Style */
.blog {
  padding: 6em 1em;
  position: relative;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fff 99%, #fffb7d 100%);
  margin-bottom: 50px;
}

.blog h1 {
  color: #131e2d;
  margin: 2em;
}

.blog .desc {
  font-size: 72px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(122, 0, 82, 1) 50%, rgba(0, 212, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blog .card {
  box-shadow: 0 0 20px #ccc;
}

.blog .card img {
  width: 100%;
  height: 12em;
}

.blog .card-title {
  color: #131e2d;
}

.blog .card-body {
  padding: 1em;
}

.blog .col-md-4 {
  margin-bottom: 20px;
}

/* Team Section */
.team {
  margin: 4em 0;
  position: relative;
}

.team h1 {
  color: #131e2d;
  margin: 2em;
}

.team .item {
  position: relative;
  overflow: hidden;
}

.team .des {
  background: #131e2d;
  color: #fff;
  text-align: center;
  border-top-right-radius: 93%;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 88%;
  bottom: 24px;
}

.team .item:hover .des {
  height: 100%;
  background: #131e2d;
  position: absolute;
  width: 89%;
  padding: 5em;
  top: 0;
  border-top-right-radius: 0;
}

/* Contact Section */
.contact {
  margin-top: 20rem;
}

.contact-form {
  margin: 6em 0;
  position: relative;
}

.contact-form h1 {
  padding: 2em 1px;
  color: #131e2d;
}

.contact-form .right {
  max-width: 600px;
}

.contact-form .right .btn-secondary {
  background: #131e2d;
  color: #fff;
  border: 0;
}

.contact-form .right .form-control::placeholder {
  color: #223651;
  font-size: 16px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .header {
    height: 60vh;
  }

  .portfolio img {
    width: 100%;
    height: auto;
  }

  .blog h2 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 10px;
  }

  .about img {
    width: 80%;
    height: auto;
  }

  .portfolio img {
    width: 100%;
    height: auto;
  }

  .description p {
    font-size: 16px;
  }

  .header {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  .about .col-lg-4 {
    order: -1;
  }
}
